Flask==0.10.1
python_logstash_async==1.4.1
Eve_Swagger==0.0.6
flask_swagger_ui==0.0.2
Flask_Zipkin==0.0.2
Eve==0.6.4
Flask_Login==0.4.0
pymongo==3.3.1
-e git+https://github.com/jbeast/flask-pymongo@14a96773349af2a544747ff97ee247a9e22a5360#egg=Flask_PyMongo
PyJWT==1.5.0
Werkzeug==0.11.3
