Flask==0.10.1
python_logstash_async==1.4.1
Eve_Swagger==0.0.6
flask_swagger_ui==0.0.2
Flask_Zipkin==0.0.2
Eve==0.6.4
Flask_Login==0.4.0
pymongo==3.3.1
Flask_PyMongo.egg==info
flask_pymongo==2.0.0
PyJWT==1.6.4
